<div class="container">
    @if (id()) {
        <h1>Modificar reserva</h1>
    } @else {
        <h1>Crear reserva</h1>
    }

    <form>
        <mat-form-field>
            <mat-label>Identificador</mat-label>
            <input type="text" matInput placeholder="Identificador" [ngModel]="id()" (ngModelChange)="id.set($event)" name="id" disabled>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Juego</mat-label>
            <mat-select disableRipple [ngModel]="gameId()" (ngModelChange)="gameId.set($event)" name="game" required>
                @for (game of games(); track game.id) {
                    <mat-option [value]="game.id">{{game.title}}</mat-option>
                }
            </mat-select>
            <mat-error>El juego no puede estar vacío</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Cliente</mat-label>
            <mat-select disableRipple [ngModel]="clientId()" (ngModelChange)="clientId.set($event)" name="client" required>
                @for (client of clients(); track client.id) {
                    <mat-option [value]="client.id">{{client.name}}</mat-option>
                }
            </mat-select>
            <mat-error>El cliente no puede estar vacío</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Fecha de inicio</mat-label>
            <input matInput [matDatepicker]="startDatePicker" [ngModel]="startDate()" (ngModelChange)="startDate.set($event)" name="startDate" required>
            <mat-datepicker-toggle matIconSuffix [for]="startDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #startDatePicker></mat-datepicker>
            <mat-error>La fecha de inicio no puede estar vacía</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Fecha de devolución</mat-label>
            <input matInput [matDatepicker]="endDatePicker" [ngModel]="endDate()" (ngModelChange)="endDate.set($event)" name="endDate" required>
            <mat-datepicker-toggle matIconSuffix [for]="endDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #endDatePicker></mat-datepicker>
            <mat-error>La fecha de devolución no puede estar vacía</mat-error>
        </mat-form-field>
    </form>

    <div class="buttons">
        <button mat-stroked-button (click)="onClose()">Cerrar</button>
        <button mat-flat-button color="primary" (click)="onSave()">Guardar</button>
    </div>
</div>
